{{!-- <!doctype html>
<html lang="en">
 --}}
<div id="artist">
    <div class="container artist">
        <div class="col">
            <div class="row">
                {{#each examples}}
                <div class="card text-white bg-secondary mb-3 artistCard" data-id="{{this.id}}" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <img src="{{this.artLink}}" class="card-img-top" alt="artist piece">
                        <h4 class="card-title"><a href="example/{{this.artLink}}">{{this.artTitle}}</a></h4>
                        <p class="card-text">{{this.artDescription}}</p>
                    </div>
                </div>
                {{/each}}</p>
            </div>
        </div>
    </div>
</div>
</div>