{{!-- <!doctype html>
<html lang="en">
 --}}
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <div class="card text-center">
          <div class="card-header">
            Newest Fumblr Artists!
          </div>
          <div class="card-body" data-id="{{this.id}}">
            <h5 class="card-title">Check out some of our newest artists to sign up!</h5>
            <p class="card-text">{{#each examples}}
              <div class="card text-white bg-secondary mb-3 float-right" data-id="{{this.id}}"
                style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <img src="{{this.artLink}}" class="card-img-top" alt="artist piece">
                  <h4 class="card-title"><a href="example/{{this.artLink}}">{{this.artTitle}}</a></h4>
                  <p class="card-text">{{this.artDescription}}</p>
                </div>
              </div>
              {{/each}}</p>
          </div>
        </div>
        <div class="card-footer justify-content-center text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>
</div>
</div>